<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

		<title> 快裁缝 1.0 </title>
		<meta name="description" content="">
		<meta name="author" content="">
			
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Basic Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="${base}/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="${base}/css/font-awesome.min.css">

		<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
		<link rel="stylesheet" type="text/css" media="screen" href="${base}/css/smartadmin-production-plugins.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="${base}/css/smartadmin-production.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="${base}/css/smartadmin-skins.min.css">
		
		<!-- message info ! -->
 		<link rel="stylesheet" href="${base}/js/toast/toastr.css">
 		
		<!-- SmartAdmin RTL Support  -->
		<link rel="stylesheet" type="text/css" media="screen" href="${base}/css/smartadmin-rtl.min.css">

		<!-- We recommend you use "your_style.css" to override SmartAdmin
		     specific styles this will also ensure you retrain your customization with each SmartAdmin update. -->
		<link rel="stylesheet" type="text/css" media="screen" href="${base}/css/your_style.css"> 

		<!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
		<link rel="stylesheet" type="text/css" media="screen" href="${base}/css/demo.min.css">

		<!-- FAVICONS -->
		<link rel="shortcut icon" href="${base}/img/favicon/favicon.ico" type="image/x-icon">
		  <link rel="alternate icon" type="image/png" href="${ctxPath}/assets/i/favicon.png">

		<!-- GOOGLE FONT -->
		<!-- <link rel="stylesheet" href="http://fonts.useso.com/css?family=Open+Sans:400italic,700italic,300,400,700"> -->

		<!-- Specifying a Webpage Icon for Web Clip 
			 Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
		<link rel="apple-touch-icon" href="${base}/img/splash/sptouch-icon-iphone.png">
		<link rel="apple-touch-icon" sizes="76x76" href="${base}/img/splash/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="120x120" href="${base}/img/splash/touch-icon-iphone-retina.png">
		<link rel="apple-touch-icon" sizes="152x152" href="${base}/img/splash/touch-icon-ipad-retina.png">
		
		<!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<!-- Startup image for web apps -->
		<link rel="apple-touch-startup-image" href="${base}/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
		<link rel="apple-touch-startup-image" href="${base}/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
		<link rel="apple-touch-startup-image" href="${base}/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

	</head>
	
	<script type="text/javascript"> 
		function iFrameHeight() { 
			var ifm= document.getElementById("mainFrame"); 
			var subWeb = document.frames ? document.frames["mainFrame"].document : ifm.contentDocument; 
			if(ifm != null && subWeb != null) { 
			ifm.height = subWeb.body.scrollHeight; 
		} 
	  } 
	</script> 
	<body class="">

		<!-- HEADER -->
		<%include("admin_header.html"){}%>
		<!-- END HEADER -->

		<!-- Left panel : Navigation area -->
		<!-- Note: This width of the aside area can be adjusted through LESS variables -->
		<!--侧边栏-->
		<%include("admin_navigation.html"){}%>		
		<!-- END NAVIGATION -->

		<!-- MAIN PANEL -->
		<div id="main" role="main">
		
			<!-- MAIN CONTENT -->
			<div id="content" style="padding:0px;">
				<iframe name="mainFrame" id="mainFrame" height="700px" width="100%" onLoad="iFrameHeight()" src="${base}/center" scrolling="yes" frameborder="no" border="0" marginwidth="0" marginheight="0" allowtransparency="yes"></iframe>
				
			</div>
			<!-- END MAIN CONTENT -->

		</div>
		<!-- END MAIN PANEL -->
		<%if(userRole==1){%>
		<div style="z-index: 999;cursor: pointer; position: fixed; top: 450px; right: 20px;"><a href="${base}/items/getOneItem" target="mainFrame"><img style="border: 1px;" width="35" height="35" src="${base}/img/Search.png" alt="一键寻单" title="一键搜单"></a></div>
		<%}%>
		<!-- PAGE FOOTER -->
		<div class="page-footer">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<span class="txt-color-white">快裁缝   1.0 <span class="hidden-xs"> - </span> © 2014-2015 | 闽ICP备16007638号-1</span>
				</div>				
			</div>
		</div>
		<!-- END PAGE FOOTER -->

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="${base}/js/plugin/pace/pace.min.js"></script>

		<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
		<script src="${base}/js/libs/jquery-2.1.1.min.js"></script>
		<script>
			if (!window.jQuery) {
				document.write('<script src="${base}/js/libs/jquery-2.1.1.min.js"><\/script>');
			}
		</script>

		<script src="${base}/js/libs/jquery-ui-1.10.3.min.js"></script>
		<script>
			if (!window.jQuery.ui) {
				document.write('<script src="${base}/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
			}
		</script>
 	

  <script type="text/javascript">
   $(function(){   
   toastr.options = {
  "closeButton": false,
  "debug": false,
  "positionClass": "toast-top-right",
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "10000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}
   });
        var websocket = null;
        //判断当前浏览器是否支持WebSocket
        //ws://echo.websocket.org
        if('WebSocket' in window){
        	websocket = new WebSocket("ws://127.0.0.1:8080/ClothesShop/websocket");
          //服务器地址  websocket = new WebSocket("ws://120.25.170.43:8080/ClothesShop/websocket");
        }else{
          
              toastr.info("您的浏览器可能接受不到新的订单消息，建议更换Chrome浏览器！");
        }

        //连接发生错误的回调方法
        websocket.onerror = function(){
            toastr.error("无法连接服务器！");  
        };


      websocket.onopen = function(){
       toastr.success("连接服务器成功！");
      };

      //接收到消息的回调方法
      websocket.onmessage = function(event){
       toastr.info(event.data);  
      };

      //连接关闭的回调方法
//       websocket.onclose = function(){
//           setMessageInnerHTML("close");
//       };

      //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
      window.onbeforeunload = function(){
          websocket.close();
      };

      //将消息显示在网页上
//       function setMessageInnerHTML(innerHTML){
//           document.getElementById('message').innerHTML += innerHTML + '<br/>';
//       }


      function closeWebSocket(){
          websocket.close();
      }

//       function send(){
//           var message = document.getElementById('text').value;
//           websocket.send(message);
//       }
      
    
    </script>

     <script type="text/javascript" src="${base}/js/toast/toastr.js"></script>
		<!-- IMPORTANT: APP CONFIG -->
		<script src="${base}/js/app.config.js"></script>

		<!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
		<script src="${base}/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> 

		<!-- BOOTSTRAP JS -->
		<script src="${base}/js/bootstrap/bootstrap.min.js"></script>

		<!-- JARVIS WIDGETS -->
		<script src="${base}/js/smartwidgets/jarvis.widget.min.js"></script>		

		<!-- JQUERY UI + Bootstrap Slider -->
		<script src="${base}/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

		<!-- browser msie issue fix -->
		<script src="${base}/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

		<!-- FastClick: For mobile devices -->
		<script src="${base}/js/plugin/fastclick/fastclick.min.js"></script>

		<!--[if IE 8]>

		<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

		<![endif]-->

		<!-- Demo purpose only -->
		<script src="${base}/js/demo.min.js"></script>

		<!-- MAIN APP JS FILE -->
		<script src="${base}/js/app.min.js"></script>

		<!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
		<!-- Voice command : plugin -->
		<script src="${base}/js/speech/voicecommand.min.js"></script>
		
	</body>

</html>