<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>您的意见</title>
  <meta name="description" content="这是一个 user 页面">
  <meta name="keywords" content="user">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="${ctxPath}/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="${ctxPath}/assets/i/app-icon72x72@2x.png">
  <link rel="stylesheet" href="${base}/template/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="${base}/template/assets/css/amazeui.flat.min.css">
  <link rel="stylesheet" href="${base}/template/assets/css/apps.css">
    <script src="${base}/template/assets/js/jquery.min.js"></script>

</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<div class="am-cf admin-main">
 
  <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">联系我们</strong> / <small>Contact Us</small></div>
    </div>

    <hr/>
    
<div class="jd-container jd-inner-page">

    <div class="am-article-bd">
        <h2>日常联系</h2>
        <p>产品技术：iwannarungg<span class="x1">@gmail</span>.com</p>
        <p>市场合作：mm<span class="x2">@gmail</span>.com</p>
        <p>人力资源：h<span class="x3">r@sina</span>.com</p>
        <p>校园合作：e<span class="x4">du@163</span>.com</p>
        <h2>办公地址</h2>
        <div data-am-widget="map" class="am-map am-map-default" data-name="快裁缝团队"
        data-address="福建省福州市福建农林大学" data-longitude="" data-latitude="">
            <div id="bd-map"></div>
        </div>
    </div>
    
</div>
      
       	
       	
       	</div>
   
       
          
             
       
  </div>
  <!-- content end -->


<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="${ctxPath}/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->


<script src="${ctxPath}/assets/js/amazeui.min.js"></script>

<script src="${ctxPath}/assets/js/app.js"></script>
</body>
</html>
